<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.melvinhou.dimension2"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <!--
    从Android 10 开始，应用即使申请了权限，也只能读写自己外部存储的私有目录，
    就是Android/data/对应应用包名 下的相关目目录。
    除此之外任何目录的读写都会被拒绝，并提示android Permission denied。
    需要在AndroidManifest.xml 文件中，在application标签中添加如下属性android:requestLegacyExternalStorage=“true”
    -->
    <!--    在清单声明不启用沙盒存储
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
    -->
    <application
        android:name=".Dimension2Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Dimension2Theme"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        >
        <activity
            android:name=".launch.LaunchActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.melvinhou.test.TestActivity"
            android:exported="true">
            <!-- 隐式意图打开app -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="app"
                    android:scheme="dimension2" />
            </intent-filter>
        </activity>
        <activity
            android:name=".test.SampleActivity"
            android:theme="@style/KamiTheme"
            android:exported="true"/>
        <activity
            android:name=".web.WebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pager.PagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prespace.SpacePreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ar.ARActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ar.ARActivity2"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.melvinhou.fun.document.pdf.PdfActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.melvinhou.fun.desktop.DesktopActivity"
            android:screenOrientation="portrait">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--                <category android:name="android.intent.category.HOME" />-->
            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name="com.melvinhou.fun.document.zip.ZipActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" /> <!-- "required"必须使用arcore or "optional"可以不使用. -->


    </application>

    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" /> <!-- <uses-feature android:name="android.hardware.camera" -->
    <!-- android:required="true" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" -->
    <!-- android:maxSdkVersion="18" /> -->
    <supports-gl-texture android:name="GL_OES_compressed_paletted_texture" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.any" /> <!-- AR -->
    <uses-feature
        android:glEsVersion="0x00030001"
        android:required="true" /> <!-- Sceneform requires OpenGLES 3.0 or later. -->
    <uses-feature
        android:name="android.hardware.opengles.aep"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--android9.0使用前台服务的应用-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--录屏-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 聊天-->
    <!--允许应用程序改变网络状态-->
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <!--允许应用程序改变WIFI连接状态-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--允许应用程序访问有关的网络信息-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--允许应用程序访问WIFI网卡的网络信息-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--允许应用程序完全使用网络-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />


    <!--唤醒锁定权限-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--桌面悬浮权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--查询所有应用权限-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <!-- Tell the system this app requires OpenGL ES 3.1. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--声明应用支持哪些纹理压缩格式-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <!--android 11 获取外部存储权限-->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>


    <!--android 13 权限-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>

    <!--安装应用-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>



    <!--权限页所有运行时权限-->
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.ADD_VOICEMAIL"/>
    <uses-permission android:name="android.permission.USE_SIP"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS"/>
    <uses-permission android:name="android.permission.BODY_SENSORS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH"/>
    <uses-permission android:name="android.permission.RECEIVE_MMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>